@import ('../../stylus/index.styl')
.login
    margin-left: $marginLeft
    padding-top:$paddingTop
.zh
        border  transparent 
        border-bottom:1px solid #333
        width:$Width
.mima
    margin-top: $marginTop
       
    .se
        border  transparent 
        border-bottom:1px solid #333
        width:$Width
.forget
    float right
    margin-top: $marginTop1
    margin-right: $marginRight
       
