@import ('../../stylus/index.styl')
.register
    margin-left: $marginLeft
    padding-top:$paddingTop
// .zh
//         border  transparent 
//         border-bottom:1px solid #333
//         width:$Width
.phone 
    margin-top: $marginTop    
    .se
        border  transparent 
        border-bottom:1px solid #333
        width:$Width              
.mima  
    margin-top: $marginTop
       
    .se
        border  transparent 
        border-bottom:1px solid #333
        width:$Width
.nc
     margin-top: $marginTop   
     .se
        border  transparent 
        border-bottom:1px solid #333
        width:$Width    
