@import('../../../../stylus/index.styl')
.gn
    color:$font-color1
    font-size:0.45rem
    margin-left: $h2
.yj
     margin-left: $h2   
     margin-top: 0.45rem  
     color: $red
     font-size: 0.35rem
     font-weight: bold  
     float left
.xj
     margin-left: $h2   
     font-size: 0.35rem
     color $font-color2
     font-weight: bold   
     margin-top: $h2
     text-decoration: line-through
     
     
.label
     margin-top: $h2  
     padding-left:0.1rem 
     text-align: center
    
.new 
     width $buttonHeight
     height $buttonHeight
     line-height: $buttonHeight
     color $primary
     margin-left: $margin
     float left
     border:0.01rem solid  $primary
.hot
     width $buttonHeight
     height $buttonHeight
     line-height: $buttonHeight
     color: $primary
     float left
     border:0.01rem solid  $primary 
     margin-left: $margin 

    