@import("./color.styl")
@import("./size.styl")
.btn{
    background: $primary;
    color: $font-fff;
    font-size: $h3;
    text-align: center;
    height: $buttonHeight;
    width: 80%;
    border-radius: $margin
    line-height: $buttonHeight
    // margin: $margin
    margin-top: $marginTop
//     margin-left: $marginLeft
 }
 .btn1
                       
                        background: $primary;
                        color: $font-fff;
                        font-size: $h3;
                        text-align: center;
                        height: $buttonHeight;
                        width: $Widthlist;
                        border-radius: $margin
                        line-height: $buttonHeight
                        // margin: $margin
                        margin-top:$h2
                        // bottom: 0
                        // float left
                         