$footerHeight=0.8rem
$headerHeight=0.8rem
$paddingTop=2rem

$h1=0.5rem
$h2=0.3rem
$h3=0.2rem

$margin=0.2rem
$padding=0.1rem
$marginTop=0.5rem
$marginTop2=1.2rem
$marginTop1=0.15rem
$marginTop3=2.1rem
$marginLeft=0.8rem
$marginRight=1rem
$marginBottom=1.5rem
$buttonHeight=0.6rem
$borderWidth=0.02rem

$bannerHeight=3.8rem
 $Width=5rem


 $imgNavW=1.5rem
 $imgNavH=1.5rem
 $bottom=-0.4rem
 $Widthlist=3rem
 