@import('../../../../stylus/index.styl')
.nav-body
        margin-top:1rem
        display: flex
        width 100vw
.list-item
          display: flex 
          margin-bottom: $margin 
.left
      width:$paddingTop
      height:$paddingTop
      margin-left:$h3
      
img 
              width:100%
              height: 100%  
              display block  
             
.right
          flex 1
          margin-left:$marginTop
          padding-top:$margin

         
         
          
h3
          margin-top:$margin    
h2
          margin-top:$margin
          color: $red 
          font-size: $h1  